@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #e0def4;
  --background: #232136;
}


body {
  color: rgb(var(--text));
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}